.achievementPopupWrapper(ng-controller='achievementPopupCtrl as ctrl')
  .achievement-banner(ng-show='ctrl.displayPopup()', ng-style="{top : ctrl.isMac()? '-90': '10'}")
    .achievement-icon
      span.icon
        span.icon-trophy
    .achievement-text
      p.achievement-notification Achievement Unlocked
      p.achievement-name {{ctrl.title}}
