//-  ========== Bower components ===========
script(src='/lib/build.js')

//- ========== Unity player helpers ==========
script(src='/js/UnityLoaders/loadHelper.js')
script(src='/js/UnityLoaders/playerSetup.js')

//- ========== Angular App ==========
script(src='/js/AngularApp/app.js')
script(src='/js/AngularApp/controllers.js')
script(src='/js/AngularApp/factories.js')
script(src='/js/AngularApp/loginCtrl.js')
script(src='/js/AngularApp/appCtrl.js')
