//-  ========== Bower components ===========
script(src='/lib/build.js')

//- ========== Unity player helpers ==========
script(src='/js/UnityLoaders/loadHelper.js')
script(src='/js/UnityLoaders/playerSetup.js')
script(src='/js/UnityLoaders/socketHelper.js')

//- ========== Angular App ==========
script(src='/js/AngularApp/app.js')
script(src='/js/AngularApp/run.js')
script(src='/js/AngularApp/controllers.js')
script(src='/js/AngularApp/factories.js')
script(src='/js/AngularApp/activeTabFac.js')
script(src='/js/AngularApp/timeCardFac.js')
script(src='/js/AngularApp/accuracyCardFac.js')
script(src='/js/AngularApp/achievementFac.js')
script(src='/js/AngularApp/leaderboardFac.js')
script(src='/js/AngularApp/chatFac.js')
script(src='/js/AngularApp/loginCtrl.js')
script(src='/js/AngularApp/timeCardCtrl.js')
script(src='/js/AngularApp/accuracyCardCtrl.js')
script(src='/js/AngularApp/achievementCtrl.js')
script(src='/js/AngularApp/achievementPopupCtrl.js')
script(src='/js/AngularApp/leaderboardCtrl.js')
script(src='/js/AngularApp/tabsCtrl.js')
script(src='/js/AngularApp/chatCtrl.js')
//- script(src='/js/AngularApp/iFrameApp.js')
