
<p class="title">Earth Invasion 2.0</p>
<div role="navigation" ng-controller="tabsCtrl as ctrl" class="tabs">
  <ul class="nav nav-pills center-pills red">
    <li ng-repeat="tab in ctrl.tabs" ng-class="{'active': ctrl.isSelected(tab.link)}"><a ng-click="ctrl.setActive(tab.link)" ng-href="#/{{tab.link}}">{{tab.name}}</a></li>
  </ul>
</div>
<div ng-controller="tabsCtrl as ctrl" class="logout">
  <p>we await your return.</p>
  <button ng-click="ctrl.logout()" class="btn btn-primary btn-sm">logout</button>
</div>