extends ./partials/_layout.jade

block content

  body(ng-app='app')
    .wrapper
      //- tried the below, but its transparency didn't work in IE and it was under
      //- the Unity player in Firefox (windows). So just going to use the div below
      //- the webplayer, which is the only way to get consistent results (all browsers, Mac or Windows).
      //-
      .iframeControllerHolder(ng-controller='achievementPopupCtrl as ctrl')
        iframe(src='achievementPopup.html', ng-show='ctrl.displayPopup()', allowTransparency='true')
      .unityPlayerSection
        .content
          #unityPlayer
            .missing
              a(href='http://unity3d.com/webplayer/', title='Unity Web Player. Install now!')
                img(alt='Unity Web Player. Install now!', src='http://webplayer.unity3d.com/installation/getunity.png', width='193', height='63')
        include ./partials/_achievementPopup.jade
      .angularAppSection(ng-view)
