extends ./partials/_layout.jade

block content

  body(ng-app='app')
    .wrapper
      include ./partials/_achievementPopup.jade
      .unityPlayerSection
        //- p.header
        //-   span Unity Web Player | Earth Invasion
        .content
          #unityPlayer
            .missing
              a(href='http://unity3d.com/webplayer/', title='Unity Web Player. Install now!')
                img(alt='Unity Web Player. Install now!', src='http://webplayer.unity3d.com/installation/getunity.png', width='193', height='63')
        //- p.footer
        //-   | « created with 
        //-   a(href='http://unity3d.com/unity/', title='Go to unity3d.com') Unity
        //-   |  »
      .angularAppSection(ng-view)
