extends ./partials/_layout.jade

block content
  .container.login(ng-app='app')
    p Welcome to EarthInvasion 2.0!
    form(ng-controller='loginCtrl as login')
      .form-group
        label(for='username') Username
        img.invadera(src='../img/sprites/invaderA.png', onmouseover="this.src='../img/sprites/invaderA2.png'", onmouseout="this.src='../img/sprites/invaderA.png'")
        input(id='username', placeholder='username', type='text', ng-model='login.username')
      .form-group
        label(for='password') Password
        img.invaderb(src='../img/sprites/invaderB.png', onmouseover="this.src='../img/sprites/invaderB2.png'", onmouseout="this.src='../img/sprites/invaderB.png'")
        input(id='password', placeholder='password', type='password', ng-model='login.password')
      .form-group
        .button-group-container
          .btn-group.btn-group-md(role='group')
            button.btn.btn-success(ng-click='login.login()') Log In
            button.btn.btn-info(ng-click='login.register()') Register
            button.btn.btn-primary(ng-click='login.guest()') Play as Guest
  link(rel='stylesheet', href='css/login.css')
