.angularAppSection, {
  text-align: left;
  height: $sectionHeight;
  width: $AngularAppWidth;
  float: left;
  font-size: 12px;

  .title {
    text-align: center;
  }
  // bootstrap .container plus ng-scope gets rid of width constraints?
  .container.ng-scope {
    width: $AngularAppWidth;
  }

  button {
    color: black;
  }
}
