body {
  background: url(../img/starry.png) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'early_gameboyregular', Arial, sans-serif;
}
