// these (600 - 960 - 360) work well and fit on laptop screen.

$sectionHeight : 600px;
$UnityWidth : 960px;
$AngularAppWidth : 360px;
$sectionWidth : $UnityWidth + $AngularAppWidth + 50px;

$tabHover : crimson;
