extends ./partials/_layout.jade

block content
  .accuracyCard(ng-controller='accuracyCardCtrl as ctrl')
    table.table.table-condensed
      tr(ng-repeat='accuracy in ctrl.getAccuracies()')
        td {{accuracy.message}}
        td {{accuracy.accuracy}}%
