extends ./partials/_layout.jade

block content
  .accuracyCard(ng-controller='accuracyCardCtrl as ctrl')
    p(ng-repeat='accuracy in ctrl.getAccuracies()') {{accuracy.message}}{{accuracy.accuracy}}%
