extends ./partials/_layout.jade

block content
  .controllerHolder(ng-controller='achievementCtrl as ctrl')
    p.explanation(ng-show='ctrl.getAchievements().length === 0') Your achievements will pop in here as you earn them.
    .achievements(ng-repeat='achievement in ctrl.getAchievements()')
      .achievementIcon
        .textWrap
          p.title {{achievement.title}}
          p.description {{achievement.description}}
