extends ./partials/_layout.jade

block content
  .achievements(ng-controller='achievementCtrl as ctrl')
    .achievementWrapper(ng-repeat='achievement in ctrl.getAchievements()')
      p {{achievement.title}}
      p {{achievement.description}}
