extends ./partials/_layout.jade

block content
  .achievements
    p this is the achievements page

block content
  .achievements(ng-controller='achievementCtrl as ctrl')
    p(ng-repeat='achievement in ctrl.getAchievements()') Achievement {{achievement}}
