extends ./partials/_layout.jade

block content
  .timeCard(ng-controller='timeCardCtrl as ctrl')
    table.table.table-condensed
      tr(ng-repeat='time in ctrl.getTimes()')
        td {{time.message}}
        td {{time.timeElapsed}} seconds
